<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>

	<a th:href="@{/organizations/new}">ADD</a>
	<br></br>
		
	<h2>Organization List</h2>
	
	<table>
	    <tr>
	      <td><h3> ID</h3></td>
	      <td><h3>Name</h3></td>
	      <td></td>
	      
	    </tr>
		<tr th:each="orgByUser : ${orgListByUser}">
			<td th:text="${orgByUser.id}"></td>
			<td th:text="${orgByUser.name}"></td>	
			<td><a href="#" th:href="@{'/organization/' + ${orgByUser.id} + '/members'}">Member</a></td>
			<td></td>				
		</tr>
	</table>
	<br></br>
	
	<h2>Organization List By Member</h2>
	
	<table>
	    <tr>
	      <td><h3> ID</h3></td>
	      <td><h3>Name</h3></td>
	      
	    </tr>
		<tr th:each="orgByMember : ${orgListByMember}">
			<td th:text="${orgByMember.id}"></td>
			<td th:text="${orgByMember.name}"></td>		
			<td><a href="#" th:href="@{'/organization/' + ${orgByMember.id} + '/members'}">Member</a></td>				
		</tr>
	</table>
	
</body>
</html>